@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&family=Playfair+Display:wght@500;600&display=swap");

@import "tailwindcss";

body {
  margin: 0;
  font-family: "Cairo", sans-serif;
  background: #f1f4f8;
}